<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>com.intalio.servlets.OAuthServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>OAuthCallbackServlet</servlet-name>
    <servlet-class>com.intalio.servlets.OAuthCallbackServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>OAuthValidateAccessTokenServlet</servlet-name>
    <servlet-class>com.intalio.servlets.OAuthValidateAccessTokenServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/oauth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAuthCallbackServlet</servlet-name>
    <url-pattern>/oauth_callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAuthValidateAccessTokenServlet</servlet-name>
    <url-pattern>/oauth_validate_access_token</url-pattern>
  </servlet-mapping>
</web-app>
